<!DOCTYPE html>
<html lang="zh-CN">

<div th:fragment="common_js(scripts)">
    <script th:src="@{/js/jquery-1.9.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery.cookie.js}" type="text/javascript"></script>
    <script th:src="@{/js/jquery.nicescroll.js}" type="text/javascript"></script>
    <!-- index -->
    <script th:src="@{/js/layer/layer.js}" type="text/javascript"></script>
    <script th:src="@{/js/sysbox.js}" type="text/javascript"></script>
    <!-- index -->

    <script th:src="@{/js/HUpages.js}" type="text/javascript"></script>
    <script th:src="@{/js/template.js}" type="text/javascript"></script>
    <!--[if lt IE 9]>
    <script th:src="@{/js/html5shiv.js}" type="text/javascript"></script>
    <script th:src="@{/js/css3-mediaqueries.js}" type="text/javascript"></script>
    <![endif]-->

    <script th:src="@{/js/util.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        /*<![CDATA[*/
        var ctxPath = /*[[@{/}]]*/ '';
        /*]]>*/
        if(ctxPath=='/'){
            ctxPath="http://"+window.location.host+"/";
        }
        console.info("---ctxPath::"+ctxPath);
    </script>
    <th:block th:replace="${scripts}" />
</div>
</html>