<!doctype html>
<html class="x-admin-sm">
<head th:replace="common/htmlHead :: common_header(~{::title})">
    <title>订单添加</title>
</head>
<body class="login-bg">
<div th:insert="common/htmlJS::common_js(~{::script})">
    <script type="text/javascript" th:src="@{/admin/js/views/goodsEdit.js}"></script>
</div>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"><span class="x-red">*</span>类型</label>
                            <div class="layui-input-inline">
                                <select id="NUM_PAR_TYPE" name="NUM_PAR_TYPE">
                                    <option value="1">定制</option>
                                    <option selected value="2">修改</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label"><span class="x-red">*</span>产品分类</label>
                            <div class="layui-input-inline">
                                <select id="NUM_TYPE" name="NUM_TYPE">
                                    <option value="1">校服裤</option>
                                    <option value="2">半袖</option>
                                    <option value="4">其他</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                                <select id="NUM_STATE" name="NUM_STATE">
                                    <option value="1">预约</option>
                                    <option value="2">确认制作</option>
                                    <option value="3">取消制作</option>
                                    <option value="4">制作完成</option>
                                    <option value="5">通知取货</option>
                                    <option value="6">制作修改</option>
                                    <option value="7">已经取货,完成订单</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">支付状态</label>
                            <div class="layui-input-inline">
                                <select id="NUM_PAY_STATE" name="NUM_PAY_STATE">
                                    <option value="1">待支付</option>
                                    <option value="2">预支付</option>
                                    <option value="3">支付成功</option>
                                    <option value="4">支付失败</option>
                                    <option value="5">修改价格</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">支付方式</label>
                            <div class="layui-input-inline">
                                <select id="NUM_PAY_TYPE" name="NUM_PAY_TYPE">
                                    <option value="1">线下支付</option>
                                    <option value="2">微信支付</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">学校</label>
                            <div class="layui-input-inline">
                                <select  lay-verify="NUM_SCHOOL_ID" name="NUM_SCHOOL_ID" lay-filter="NUM_SCHOOL_ID" id="NUM_SCHOOL_ID">
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">年级</label>
                            <div class="layui-input-inline">
                                <select name="NUM_GRADE_ID" id="NUM_GRADE_ID">
                                </select>
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">款式</label>
                            <div class="layui-input-inline">
                                <select id="NUM_MODEL_ID" name="NUM_MODEL_ID">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                                <input type="text" id="VC_NAME" name="VC_NAME" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label"><span class="x-red">*</span>手机号</label>
                            <div class="layui-input-inline">
                                <input type="text" id="VC_PHONE" name="VC_PHONE" placeholder="" lay-verify="phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">身高</label>
                            <div class="layui-input-inline">
                                <input type="text" id="VC_HIGHT" name="VC_HIGHT" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label">体重</label>
                            <div class="layui-input-inline">
                                <input type="text" id="VC_WIGHT" name="VC_WIGHT" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">数量</label>
                            <div class="layui-input-inline">
                                <input type="text" id="NUM_NUM" name="NUM_NUM" value="1" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">价格</label>
                            <div class="layui-input-inline">
                                <input type="text" id="NUM_PRICE" name="NUM_PRICE" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label for="VC_SIGN_DESC" class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" id="VC_NOTES" name="VC_SIGN_DESC" class="layui-textarea" readonly></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item layui-form-text">
                        <label for="VC_SIGN_DESC" class="layui-form-label">描述</label>
                        <div class="layui-input-block">
                            <textarea placeholder="请输入内容" id="VC_SIGN_DESC" name="VC_SIGN_DESC" class="layui-textarea"></textarea>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label"></label>
                            <button class="layui-btn" lay-filter="orderEdit" lay-submit="">提交</button>
                        </div>
                    </div>
        </form>
        </div>
        </div>
        <script>
        </script>
    </body>

</html>