<!DOCTYPE html>
<html lang="zh-CN"  xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head th:replace="common/htmlHead :: common_header(~{::title})">
  <title>销售中心</title>

</head>
<link rel="stylesheet" th:href="@{/micromarketing/layer_mobile/need/layer.css}">
<body>
    <!--使用公有js-->
    <div th:replace="common/htmlJS::common_js(~{::script})">
      <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
      <script type="text/javascript" th:src="@{/micromarketing/layer_mobile/layer.js}"></script>
      <script th:src="@{/js/views/personals.js}"></script>
    </div>
    <div class="page personals">
      <div class="head clear">
        <img th:src="@{/assets/images/person.png}" class="left" alt="">
        <p class="center">
          <span class="name" id="nickname">游客</span>
          <span class="admin" id="admin"></span>
          <span class="company" id="company"></span>
        </p>
        <p id="personInfo" class="right">
          个人信息
          <span></span>
        </p>
      </div>
      <div class="content">
        <p id="toSharePage">
          <span class="left">
            <i class="logo"></i><i class="title">分享产品赚积分</i>
          </span>
          <span class="right"></span>
        </p>
        <p id="integral">
          <span class="left">
            <i class="logo"></i><i class="title">我的积分</i>
          </span>
          <span class="right"></span>
        </p>
        <p id="fellows">
          <span class="left">
            <i class="logo"></i><i class="title">我的伙伴</i>
          </span>
          <span class="right"></span>
        </p>
        <p id="message">
          <span class="left">
            <i class="logo"></i><i class="title">消息</i>
          </span>
          <span class="right"></span>
        </p>
      </div>
      <!--<div class="footer youKe" style="display: none;">
        <div id="qrcode" class="ewm"></div>
        <p>我的二维码</p>
      </div>-->
      <div class="footer youKe">
        <div class="ewm">
          <img id="createQrcode"  />
        </div>
        <p>我的二维码</p>
      </div>
    </div>
  </body>
  <script>

  </script>
</html>
