<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta charset="UTF-8">
    <title>发起行程</title>
    <link rel="stylesheet" th:href="@{/css/commor.css}">
    <link rel="stylesheet" th:href="@{/css/myCss.css}">
    <script th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/js/util.js}"></script>
    <link rel="stylesheet" th:href="@{/css/mobiscroll.custom-2.6.2.min.css}">
    <script th:src="@{/js/mobiscroll.custom-2.6.2.min.js}"></script>
    <script th:src="@{/js/person/goTrip.js}"></script>
</head>
<body>
<header class="headerRet">
    <b class="BackBtn"></b>发起行程
</header>
<div class="goTripAll">
    <p class="goTripCourse clear">
        <input type="text" id="resPlace_dummy" placeholder="选择出发地" class="goTripCouCome" readonly="">
        <select id="resPlace" class="demos" data-role="none" style="display: none;">
        </select>
        到
        <input class="goTripCouGo" id="tarPlace_dummy"  placeholder="选择目的地"/>
        <select id="tarPlace" class="demos" data-role="none" style="display: none;">
        </select>
    </p>
    <p class="">
        <span class="tripAllSingle">发车时间:</span><input type="text" placeholder="选择发车时间" id="startTime" disabled
                                                       class="tripAllPle">
    </p>
    <p>
        <span class="tripAllSingle">最大乘客数:</span><input type="text" id="passengers" placeholder="输入最多乘客数" class="tripAllPle">
    </p>
    <p>
        <span class="tripAllSingle">费用 元/人:</span><input type="text" id="unitPrice" placeholder="输入单价" class="tripAllPle">
    </p>
    <p>
        <input type="radio" id="carToP" name="numMannedType" checked class="radioCar" value="1"> <label for="carToP" class="carAndP">车找人</label>
        <input type="radio" id="pToCar" name="numMannedType" class="radioCar" value="2"><label for="pToCar" class="carAndP">人找车</label>
    </p>
    <!--<p class="goTripEdition">
        <img th:src="@{/img/android.png" alt="" class="downEdition">
        <img th:src="@{/img/IOS.png" alt="" class="downEdition">
    </p>-->
    <p>
        <a href="javascript:;" id="creatTrip" class="goTripAllBtn clearfix">创建行程</a>
    </p>
</div>
<script>
    $(function () {

    });



</script>

</body>
</html>

<!--

SELECT
cp.NUM_ID,
cp.VC_HIGHT,
cp.VC_WIGHT,
cp.VC_NAME,
cp.VC_PHONE,
cp.NUM_TYPE,
cp.NUM_NUM,
cp.NUM_STATE,
cp.DAT_CREAT_TIME,
cp.DAT_UPDATE_TIME,
cp.NUM_PRICE,
cp.VC_USER_ID,
cp.VC_OPEN_ID,
cp.DAT_CONFIRM_TIME,
cp.VC_NOTES,
cp.NUM_SCHOOL_ID,
cp.NUM_GRADE_ID,
cp.NUM_MODEL_ID,
cp.VC_ORDER_NO,
cp.VC_UNION_ID,
cp.VC_SIGN_DESC
FROM
cl_product cp
LEFT JOIN cl_fn_grade cfg
on cp.NUM_GRADE_ID = cfg.NUM_ID
LEFT JOIN CL_FN_SCHOOL cfs
on cp.NUM_SCHOOL_ID = cfs.NUM_ID
LEFT JOIN cl_fn_model cfm
on cp.NUM_MODEL_ID = cfm.NUM_ID

WHERE
(
cp.VC_OPEN_ID = 1
AND cp.VC_NAME LIKE 1
AND cp.VC_PHONE LIKE 1
AND cp.NUM_TYPE = 1
AND cp.NUM_STATE = 1
AND cp.NUM_ID = 1
AND cp.NUM_SCHOOL_ID = 1
AND cp.NUM_GRADE_ID = 1
AND cp.NUM_MODEL_ID = 1
AND cp.VC_ORDER_NO LIKE 1
)
ORDER BY
cp.DAT_CREAT_TIME DESC-->
