<!DOCTYPE html >
<html lang="en"  xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="UTF-8">
    <title>我的行程</title>
    <link rel="stylesheet" th:href="@{/css/commor.css}">
    <link rel="stylesheet" th:href="@{/css/myCss.css}">
    <script th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script th:src="@{/js/person/myJobs.js}"></script>
    <script th:src="@{/js/util.js}"></script>

</head>
<body>
<header class="headerRet">
    <b class="BackBtn"></b>我的行程
</header>
<div class="myTrip">
    <ul class="myTripList clear">
        <li><a href="javascript:;">所有行程</a></li>
        <li><a href="javascript:;">未完成</a></li>
        <li class="myTripListLast"><a href="javasciprt:;">已完成</a></li>
    </ul>
    <ul class="myTripListTab" id="myJobsHtml">

    </ul>
</div>
</body>
</html>

