<!doctype html>
<html class="x-admin-sm">
<head th:replace="common/weichat/htmlHead :: common_header(~{::title})">
  <title>修改</title>
</head>
<body>
<div th:insert="common/weichat/htmlJS::common_js(~{::script})">
  <script type="text/javascript" th:src="@{/weichat/app/js/modify.js}"></script>
</div>
<header class="mui-bar mui-bar-nav">
  <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
  <h1 class="mui-title">校服订制</h1>
</header>
<header class="mui-bar mui-bar-nav">
  <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
  <h1 class="mui-title">修改信息</h1>
</header>
<div class="mui-content">
  <div class="mui-content-padded" style="margin: 5px;">
    <form class="mui-input-group">
      <div class="mui-input-row myCustomizedList">
        <label for="VC_NAME">联系人：</label>
        <input type="text" id="VC_NAME" name="VC_NAME" placeholder="请输入联系人姓名">
      </div>
      <div class="mui-input-row myCustomizedList">
        <label for="VC_PHONE">联系电话*：</label>
        <input type="text" id="VC_PHONE" name="VC_PHONE" placeholder="请输入联系电话">
      </div>
      <div class="mui-input-row myCustomizedList">
        <label for="VC_NOTES">备注：</label>
        <input type="text" id="VC_NOTES" name="VC_NOTES" placeholder="请输入备注">
      </div>


    </form>
    <button type="button" id="subBut" class="mui-btn mui-btn-blue mui-btn-block SubmitBtn">提交修改</button>

    <div class="aboutLyzy">©关于羚猩制衣</div>

  </div>

  <script type="text/javascript">
    mui.init()
  </script>
</body>

</html>
