<!doctype html>
<html>
<head th:replace="common/weichat/htmlHead :: common_header(~{::title})">
    <title>详情</title>
</head>
<style>
    .notMOdifyLi{
        display: none;
    }
    .numPayStateStr{
        position: absolute;
        right: 90px;
        color: #39f;
    }
</style>
<body>

<div th:insert="common/weichat/htmlJS::common_js(~{::script})">
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
    <script type="text/javascript" th:src="@{/weichat/app/js/orderDetail.js}"></script>
</div>
<header class="mui-bar mui-bar-nav">
    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
    <h1 class="mui-title">订单详情</h1>
</header>
<div class="mui-content OrderDetail">
    <h3 class="commorTitle">羚猩制衣
        <span id="numPayStateStr" class="numPayStateStr"></span>
        <span id="numStateStr" class="headOrderstate fr"></span></h3>
    <ul>
        <li>
            <span class="redFont orderType"> <i class="icon-order"></i> <span id="numParTypeStr"></span> </span>
            <span>订单编号: <span id="vcOrderNo"></span></span>
            <a style="display: none;" class="fr grayFont stateBtn">取消</a>
        </li>
        <li class="clearfix" >
            <span class="title fl">支付方式:<span class="grayFont" id="numPayTypeStr"></span></span>
            <span class="fr"><span id="vcOrderNo">支付金额:&nbsp <span class="grayFont">￥<span id="numPayPrice"></span></span></span></span>
        </li>
        <li class="clearfix notMOdifyLi">
            <span class="title fl"><span id="numType"></span>:</span>
            <div class="fl detailcontent">
                <span id="vcSchoolName"></span><br>
                <span id="vcGradeName"></span><br>
                <span id="vcModelName"></span>
            </div>
        </li>
        <li class="clearfix">
            <span class="title fl">修改说明:</span>
            <div class="fl" id="vcNotes">
            </div>
        </li>

        <li class="clearfix">
            <span class="fl title">联系人:</span>
            <span class="fr grayFont" id="vcName"></span>
        </li>
        <li class="clearfix">
					<span class="fl title">
						联系电话:
					</span>
            <span id="vcPhone" class="fr grayFont">
					</span>
        </li>
        <li class="clearfix notMOdifyLi">
            <span class="fl title">身高:</span>
            <span class="fr redFont"><span id="vcHight"></span>cm</span>
        </li>
        <li class="clearfix notMOdifyLi">
					<span class="fl title">
						体重:
					</span>
            <span class="fr redFont">
						<span id="vcWight"></span>kg
					</span>
        </li>
        <li class="clearfix">
					<span class="fl grayFont orderTime">
						创建时间: <span id="datCreatTime"></span>
					</span>
        </li>
    </ul>
</div>
<ul class="calculationList my-content ">
    <li class="clearfix">
        <span class="fl">商品金额</span>
        <span class="fr weightAmout" id="erchantsmSetPrice">¥<span id="numPrice"></span>*<span id="numNum"></span></span>
    </li>
</ul>
<!--优惠券/满减优惠券list-->
<ul class="calculationList my-content weichatPayment" style="display: none">
    <li class="clearfix numUserMoneyTotal" style="display: none;">
        <span class="fl">可用余额</span>
        <span style="margin-right: 18px;" class="fr weightAmout redFont">¥ <apan id="numUserMoneyTotal"></apan></span>
    </li>
    <li class="clearfix">
        <span class="fl">余额抵扣</span>
        <span style="margin-right: 18px;" class="fr weightAmout redFont">-¥ <apan id="numUserMoney"></apan></span>
    </li>
    <li class="clearfix">
        <span class="fl">优惠券</span>
        <a id="userCouponLiStrA" class="fr rightIcon"></a>
        <span class="fr weightAmout redFont">-¥ <span id="NUM_DISCOUNT_NUMBER">0</span></span>
    </li>
    <li class="clearfix totalAmout">
        <p class="fr">
            已优惠 <span class="redFont">¥ <span id="yiyouhuijine"></span></span> <span>实付金额</span><b
                class="actualPayment">¥ <span id="shifujine"></span></b>
        </p>
    </li>
</ul>
</div>
<div class="footOrder clearfix payment" style="display: none">
    <div class="fl payAmount">
        ¥ <span id="shifujine1"></span>
    </div>
    <a id="payButton" class="toPayBtn fr">去支付</a>
</div>

<div id="popover" class="mui-popover mui-popover-action">
    <header class="mui-bar mui-bar-nav">
        <h1 class="mui-title ">可用优惠券</h1>
    </header>
    <footer class="mui-bar mui-bar-footer">
        <!---->
        <div class="mui-row">
            <div class="mui-col-xs-6 ">
                <button id="openPopoverFalse" class="mui-btn mui-btn-warning mui-btn-block">取消</button>

            </div>

            <div class="mui-col-xs-6 ">

                <button id="openPopover" class="mui-btn mui-btn-primary mui-btn-block">确定</button>

            </div>
        </div>
    </footer>
    <div class="mui-content">
        <ul id="userCouponLiStr" class="mui-table-view">
        </ul>
    </div>
</div>
</body>

</html>
