<!doctype html>
<html>
<head th:replace="common/weichat/htmlHead :: common_header(~{::title})">
  <title>个人中心</title>
</head>
<body>
<div th:insert="common/weichat/htmlJS::common_js(~{::script})">
  <script type="text/javascript" th:src="@{/weichat/app/js/personalCenter.js}"></script>
</div>

<div class="mui-content">
  <ul class="mui-table-view aboutMySelf">
    <li class="mui-table-view-cell mui-media">
      <a href="javascript:;" class="">
        <img id="VC_HEAD_IMG_URL" class="mui-media-object mui-pull-left" th:src="@{/weichat/app/img/commor.jpeg}">
        <div class="mui-media-body">
          <span class="my" id="VC_NICKNAME"></span>
          <!--<p class="mui-ellipsis">18888861129</p>-->
        </div>
      </a>
    </li>
  </ul>
  <div class="aboutOrder">
    <h3 class="orderTitle">我的订单</h3>
    <div class="myOrderList">
      <a href="#">
        <img class="orderIcon" th:src="@{/weichat/app/img/daizhifu.png}" alt="">
        <p class="orderFont">待支付</p>
      </a>
      <a href="#">
        <img class="orderIcon" th:src="@{/weichat/app/img/daishouhuo.png}" alt="">
        <p class="orderFont">待收货</p>
      </a>
      <a href="#">
        <img class="orderIcon" th:src="@{/weichat/app/img/daipingjia.png}" alt="">
        <p class="orderFont">待评价</p>
      </a>
      <a href="#">
        <img class="orderIcon" th:src="@{/weichat/app/img/tuihuodan.png}" alt="">
        <p class="orderFont">退款/售后</p>
      </a>
      <a href="#">
        <img class="orderIcon" th:src="@{/weichat/app/img/quanbudingdan.png}" alt="">
        <p class="orderFont">全部订单</p>
      </a>
    </div>
  </div>
  <ul class="mui-table-view myServerList">
    <li class="mui-table-view-cell">
      <a class="mui-navigate-right">
        积分列表
      </a>
    </li>
    <li class="mui-table-view-cell">
      <a class="mui-navigate-right">
        优惠券列表
      </a>
    </li>
    <li class="mui-table-view-cell">
      <a class="mui-navigate-right">
        邀请好友
      </a>
    </li>
    <li class="mui-table-view-cell">
      <a class="mui-navigate-right">
        一键反馈
      </a>
    </li>
    <li class="mui-table-view-cell">
      <a class="mui-navigate-right">
        联系客服
      </a>
    </li>
  </ul>
  <div>


  </div>

</div>

<script type="text/javascript">
    mui.init()
</script>
</body>

</html>