/**/
@charset "utf-8";
*{
    margin:0; padding:0;
}
.my-content{
    padding:0 10px;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0;  font-family: "微软雅黑"; }
fieldset, img { border: 0; }
ul, ol, li { list-style: none; font-family:'Microsoft YaHei'; }

/* remember to define focus styles! */
:focus { outline: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; background-color: #fff; border: none;}
code, kbd, samp, tt { font-size: 100%; }
a{text-decoration:none;}
a:hover{
    text-decoration: none;
}
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea{ *font-size: 100%;}
ol, ul { list-style: none; }

/* tables still need 'cellspacing="0"' in the markup */
table,tr,td { border-collapse: collapse; border-spacing: 0; margin:0;padding:0;}
caption, th { text-align: left; }
sup, sub { font-size: 100%; vertical-align: baseline; }

/* remember to highlight anchors and inserts somehow! */
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

/**Common Css**/
.fr { float: right; *display: inline;}
.fl { float: left; *display: inline;}
/*文本超出显示省略号*/
.ehn, .otw, .tow { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
/*清除浮动*/
.clearfix { clear: both; *zoom:1;}
.clearfix:after { display: block; clear: both; content: "\0020"; visibility: hidden; height: 0; }
/**/
.mui-media-object-img {
    width: 100%;
    max-width: 100%;
    height: 3rem;
}
.mui-table-view-cell-self{
    float: left;
    margin: 0 30px 40px 0;
    width: 152px;
    height: 172px;
    background: #fff;
    border-radius: 6px;
}
.mui-badge_my {
    padding: 0px;
    width: 12%;
    float: right;
    line-height: 42px;
    font-size: 14px;
}

.my_select a:after {
    font-size: 19px;
    margin-top: 2px;
    margin-right: -6px;
}
/*个人中心页面*/
.personalCenter{
    background-color: #f0ad4e;
    border-radius: 0.6rem;
    margin: 0.6rem 0.2rem;
    position: relative;
}

.personalCenter .personalImg{
    position: absolute;
    top:-0.6rem;
    width:1.6rem;
    height:1.6rem;
    background-image: url("../img/headportrait.jpeg");
    background-size: 100% 100%;
    left:45%;
    border-radius: 50%;

}
.myPersonalContent{
    padding:0.2rem;
    border-radius: 0.5rem;
    margin:0.2rem;

}
.myPersonalContent h3{
    font-size: 0.46rem;
}

.personalList{
    width:100%;
}
.personalCenter .personalList{
    padding-top: 1.6rem;
    padding-bottom: 0.2rem;
}
.personalCenter .personalList .member {
    width:50%;
    text-align: center;
    border-right:1px solid #333;

}
.personalCenter .personalList .integral{
    width:50%;
    text-align: center;

}
.personalCenter .personalList h6{
    font-size: 0.46rem;
    color:#333;
    font-weight: 500;
}
.personalCenter .personalList span{
    font-size:0.4rem;
}
/*=个人中心的卡包及奖品等list==*/
.mui-grid-view .myMediaImage{
    display: inline-block;
    width:1rem;
    height:1rem;
    background-image: url("../img/order.jpeg");
    background-size: 100% 100%;
}
.mui-grid-view .integraImage{
    background-image: url("../img/integral.jpg");
}
.mui-grid-view .CouponImage{
    background-image: url("../img/quan.jpg");
}
.personalOtherList .personalOtherListfont{
    font-size: 0.4rem;
    color:#333;
}

/*定做详情*/
.customizeDetailList{
    border-bottom: 1px solid #ddd;
    font-size: 0.42rem;
    color:#333;
    padding:0.2rem 0.14rem;
}
.customizeDetailList .explainTitle{
    float: left;

}
.customizeDetailList .explainContent{
    float: left;
}
.customizeDetailList .explainOther{
    float: right;
}
.redFont{
    color:#f2270c;
}
.noImportantFont{
    color:#999;
}
/*校服定制*/
.customizeChoose{
    height:40px;
    font-size: 20px;
    color:#000000;
    font-weight: 500;
    padding-left:15px;
    line-height: 40px;
}
.mui-radio.mui-left label, .mui-checkbox.mui-left label {
    padding-right: 0px;
    padding-left: 55px;
}
.mui-input-group .mui-input-row:after{
    height:0;
}
.mui-input-row{
    height:30px;
    line-height: 30px;
}
.myCustomizedList{
    position: relative;
    border:1px solid #eee;

}
.myCustomizedList .unitFont{
    position: absolute;
    right:14px;
    top:8px;
    font-size: 16px;
    color:#797979;
    font-weight: normal;
}
.SubmitBtn{
    margin: 10px 0 20px 0;
    padding:5px 0;
}
.aboutLyzy{
    text-align: center;
    font-size: 14px;
}
/*个人中心页面*/
.aboutMySelf {

}
.aboutOrder{
    background-color: #fff;
    border-radius: 6px;margin: 10px 0;
    padding: 0 15px;

}
.aboutOrder .myOrderList{
    display: flex;
    justify-content: space-between;
    text-align: center;


}
.aboutOrder .myOrderList>a{
    display: block;
    text-align: center;
}
.aboutOrder .orderTitle{
    line-height: 46px;
    font-size: 18px;
}

.aboutOrder .myOrderList .orderIcon{
    display: block;
    width:30px;
    height:30px;
    margin: 0 auto;
}

.aboutOrder .myOrderList .orderIcon{
    width:30px;
    height:30px;
    margin: 0 auto;
}

.myServerList a{
    font-size: 14px;
}



/*=====订单详情页面====*/
.OrderDetail>ul{
    padding:10px;
    background-color: #fff;
    line-height: 1.5;
    font-size: 16px;
}
.OrderDetail>ul>li{
    padding:10px;
    border-bottom:1px solid #eee;
}
.OrderDetail .title{
    /*font-size: 16px;*/
    /*color:#000;*/

}

.OrderDetail .orderTime{
    font-size: 14px;
}
.OrderDetail .orderType{
    font-weight: bold;
    font-size: 18px;
}
.OrderDetail .icon-order{
    display: inline-block;
    width:16px;
    height:16px;
    background: url("../images/hongqi.png");
    background-size: 100% 100%;
    margin-right: 2px;
}
.OrderDetail .redFont{
    color:#f2270c;
}
.OrderDetail .grayFont{
    color:#797979;
}
.OrderDetail  .stateBtn{
    padding:2px 4px;
    background: #2ac845;
    color:#fff;
    font-size: 14px;
    border-radius: 6px;
}
/**/
.footOrder{
    padding: 0 10px;
    height:40px;
    line-height: 40px;
    text-align: center;
    width:100%;
    /*display: flex;*/
    background-color: #fff;
}
.footOrder .toPayBtn{
    width:50%;
    color:#fff;

    font-size: 16px;
    background-color: #2ac845;
}

.payAmount{
    width:50%;
    color:#f2270c;
    font-size: 16px;
    background-color: #fff;
}


.commorTitle{
    height: 56px;
    line-height:56px;
    background-color: #fff;
    color:#000;
    font-size: 22px;
    border-bottom: 1px solid #eee;
    padding:0 10px;
    font-weight: 500;
}
/*支付页面*/
.payOrderList{
    position: relative;


}
.payOrderList span{
    color:#333;
}
.payOrderList  .payOrderListAmout{
    position: absolute;
    right:10px;
    top:22px;
    color:#333;
    font-size: 16px;
}
.calculationPiece{
    text-align: center;
    height:40px;
    line-height: 40px;
    background-color: #fff;
    color:#666;
}
.calculationList{
    margin: 5px 0px;
    background-color: #fff;
}

.calculationList>li>span{
    font-size: 16px;
    line-height: 46px;
    color:#242424;
}
.calculationList>li>span.CommorAmout{
    color:#333;
}
.weightAmout{
    color:#000;
    font-weight: 500;
}
.calculationList .redFont {
    color: #f2270c;
}
.totalAmout .actualPayment{
    font-size: 20px;
    line-height: 40px;
    color:#000;
    font-weight: 500;
}

.toBePaid{
    text-align: center;
}
.toBePaid .toBePaidBtn{
    font-size: 20px;
    line-height:40px;
    color:#000;

}
.toBePaid>span{
    line-height: 1.2;
    font-size: 16px;

}
.toBePaid .payList{
    width:100%;
    margin: 20px 0px;
}
.toBePaid .payList>a{
    display: inline-block;
    font-size: 12px;
    border-radius: 5px;
    width:23%;
    padding:5px;
    color:#fff;
    background-color: #f2270c;
}
.toBePaid .payList .greenBtn{
    background-color: #2ac845;
}
.toBePaid .payList .pinkBtn{
    background-color: pink;
}
.toBePaid .payList .blueBtn{
    background-color: blue;
}