<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="UTF-8">
    <title>行程详情</title>
    <link rel="stylesheet" href="css/commor.css">
    <link rel="stylesheet" href="css/myCss.css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/util.js"></script>
    <link rel="stylesheet" href="css/mobiscroll.custom-2.6.2.min.css">
    <script src="js/mobiscroll.custom-2.6.2.min.js"></script>
    <script src="js/mainPro/carSearch.js"></script>
</head>
<body>
<header class="headerRet">
    <b class="BackBtn"></b>行程详情
</header>
<div class="searchZongMeg clear">
    <span class="cityH fl">太原-襄垣(共有11个车程)</span><span class="fr cityT">2018/9/8</span>
</div>
<ul class="searchTripList">
    <li class="clear">
        <div class="ownerImg">
            <img src="img/people.png" alt="">
        </div>
        <div class="ownerSelf">
            <p>周杰伦</p>
            <span>标志408</span> <span>京A876598</span> <br>
            <span class="seekP">正在寻找乘客</span><span>剩余2个座位</span>
        </div>
        <div class="carBegDet">
            <button class="carBegDetBtn">详情</button>
        </div>
    </li>
    <li class="clear">
        <div class="ownerImg">
            <img src="img/people.png" alt="">
        </div>
        <div class="ownerSelf">
            <p>王凌燕</p>
            <span>标志408</span> <span>京A876598</span> <br>
            <span class="seekP">正在寻找乘客</span><span>剩余3个座位</span>
        </div>
        <div class="carBegDet">
            <button class="carBegDetBtn">详情</button>
        </div>
    </li>
    <li class="clear">
        <div class="ownerImg">
            <img src="img/people.png" alt="">
        </div>
        <div class="ownerSelf">
            <p>刘德华</p>
            <span>标志408</span> <span>京A876598</span> <br>
            <span class="seekP">正在寻找乘客</span><span>剩余5个座位</span>
        </div>
        <div class="carBegDet">
            <button class="carBegDetBtn">详情</button>
        </div>
    </li>
    <li class="clear">
        <div class="ownerImg">
            <img src="img/people.png" alt="">
        </div>
        <div class="ownerSelf">
            <p>Bella</p>
            <span>标志408</span> <span>京A876598</span> <br>
            <span class="seekP">正在寻找乘客</span><span>剩余1个座位</span>
        </div>
        <div class="carBegDet">
            <button class="carBegDetBtn">详情</button>
        </div>
    </li>
    <li class="clear">
        <div class="ownerImg">
            <img src="img/people.png" alt="">
        </div>
        <div class="ownerSelf">
            <p>周杰伦</p>
            <span>标志408</span> <span>京A876598</span> <br>
            <span class="seekP">正在寻找乘客</span><span>剩余3个座位</span>
        </div>
        <div class="carBegDet">
            <button class="carBegDetBtn">详情</button>
        </div>
    </li>
</ul>

</body>
</html>