<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dower.sharerideapp.core.repository.JourneyExtDao">

	<select id="routeSearch" parameterType="com.dower.sharerideapp.core.bean.req.NntJourneyReq" resultType="java.util.Map" >
		SELECT t1.*, t2.appointment_sum, t3.pay_sum
		from (SELECT nj.NUM_ROUTE_ID,
		nj.VC_ROUTE_NO,
		DATE_FORMAT(nj.DAT_DEPART_DATE,'%Y-%m-%d %H:%i') START_TIME,
		nj.DAT_DEPART_DATE,
		nj.NUM_MANNED_TYPE,
		nj.NUM_MAX_PASSENGERS,
		nj.NUM_UNIT_PRICE,
		nj.NUM_ROUTE_STATE,
		ntc.NUM_TRAVEL_CITY_ID start_city_id,
		ntc.VC_CITY_NAME start_city_name,
		ntc2.NUM_TRAVEL_CITY_ID end_city_id,
		ntc2.VC_CITY_NAME end_city_name,
		nci.VC_CAR_NO,
		nci.VC_BRAND,
		nci.VC_CAR_COLOR,
		ncoi.VC_REAL_NAME
		from nnt_journey nj
		LEFT JOIN nnt_travel_city ntc on
		nj.NUM_START_TRAVEL_CITY_ID = ntc.NUM_TRAVEL_CITY_ID
		LEFT JOIN nnt_travel_city ntc2 on
		nj.NUM_END_TRAVEL_CITY_ID = ntc2.NUM_TRAVEL_CITY_ID
		LEFT JOIN nnt_carinfo nci on nj.NUM_USER_ID = nci.NUM_USER_ID
		LEFT JOIN nnt_car_owner_info ncoi on nj.NUM_USER_ID = ncoi.NUM_USER_ID
		where
		<![CDATA[ nj.DAT_DEPART_DATE > NOW()]]>
		and (nj.NUM_ROUTE_STATE =2 ||nj.NUM_ROUTE_STATE = 3)
		<if test="numStartTravelCityId != null">
			and nj.NUM_START_TRAVEL_CITY_ID = #{numStartTravelCityId,jdbcType=INTEGER}
		</if>
		<if test="numEndTravelCityId != null">
			and nj.NUM_END_TRAVEL_CITY_ID = #{numEndTravelCityId,jdbcType=INTEGER}
		</if>
		<if test="datDepartDate != null">
			and date_format(nj.DAT_DEPART_DATE,'%Y-%m-%d') =DATE_FORMAT(#{datDepartDate},'%Y-%m-%d')
		</if>
		) t1
		LEFT JOIN (select nj1.NUM_ROUTE_ID,
		count(nuj.NUM_ROUTE_ID) appointment_sum
		from nnt_journey nj1
		left JOIN nnt_user_journey nuj on nj1.NUM_ROUTE_ID =
		nuj.NUM_ROUTE_ID
		and nuj.NUM_STATE = 1
		and nuj.NUM_PAY_STATE = 1
		GROUP BY nj1.NUM_ROUTE_ID) t2 on t1.NUM_ROUTE_ID =
		t2.NUM_ROUTE_ID
		LEFT JOIN (select nj1.NUM_ROUTE_ID, count(nuj.NUM_ROUTE_ID) pay_sum
		from nnt_journey nj1
		left JOIN nnt_user_journey nuj on nj1.NUM_ROUTE_ID =
		nuj.NUM_ROUTE_ID
		and nuj.NUM_STATE = 1
		and nuj.NUM_PAY_STATE = 2

		GROUP BY nj1.NUM_ROUTE_ID) t3 on t1.NUM_ROUTE_ID =
		t3.NUM_ROUTE_ID
	</select>

    <select id="getMyJobs" parameterType="java.util.Map" resultType="java.util.Map">
			  SELECT t1.*, t2.appointment_sum, t3.pay_sum
				from (SELECT nj.NUM_ROUTE_ID,
							 nj.VC_ROUTE_NO,
							 nj.DAT_DEPART_DATE,
							 nj.NUM_MANNED_TYPE,
							 nj.NUM_MAX_PASSENGERS,
							 nj.NUM_UNIT_PRICE,
							 nj.NUM_ROUTE_STATE,
							 ntc.VC_CITY_NAME start_city_name,
							 ntc2.VC_CITY_NAME end_city_name
						from nnt_journey nj
						LEFT JOIN nnt_travel_city ntc on nj.NUM_START_TRAVEL_CITY_ID =
														 ntc.NUM_TRAVEL_CITY_ID
						LEFT JOIN nnt_travel_city ntc2 on nj.NUM_END_TRAVEL_CITY_ID =
														  ntc2.NUM_TRAVEL_CITY_ID
					   where nj.NUM_USER_ID = #{numUserId}) t1
				LEFT JOIN (select nj1.NUM_ROUTE_ID,
								  count(nuj.NUM_ROUTE_ID) appointment_sum
							 from nnt_journey nj1
							 left JOIN nnt_user_journey nuj on nj1.NUM_ROUTE_ID =
															   nuj.NUM_ROUTE_ID
														   and nuj.NUM_STATE = 1
														   and nuj.NUM_PAY_STATE = 1
							where nj1.NUM_USER_ID = #{numUserId}
							GROUP BY nj1.NUM_ROUTE_ID) t2 on t1.NUM_ROUTE_ID =
															 t2.NUM_ROUTE_ID
				LEFT JOIN (select nj1.NUM_ROUTE_ID, count(nuj.NUM_ROUTE_ID) pay_sum
							 from nnt_journey nj1
							 left JOIN nnt_user_journey nuj on nj1.NUM_ROUTE_ID =
															   nuj.NUM_ROUTE_ID
														   and nuj.NUM_STATE = 1
														   and nuj.NUM_PAY_STATE = 2
							where nj1.NUM_USER_ID = #{numUserId}
							GROUP BY nj1.NUM_ROUTE_ID) t3 on t1.NUM_ROUTE_ID =
															 t3.NUM_ROUTE_ID
	</select>

    <select id="getRouteDetailById" parameterType="java.util.Map" resultType="java.util.Map">
		  SELECT t1.*, t2.appointment_sum, t3.pay_sum
			from (SELECT nj.NUM_ROUTE_ID,
						 nj.VC_ROUTE_NO,
						 nj.DAT_DEPART_DATE,
						 DATE_FORMAT(nj.DAT_DEPART_DATE,'%Y-%m-%d %H:%i') START_TIME,
						 nj.NUM_MANNED_TYPE,
						 nj.NUM_MAX_PASSENGERS,
						 nj.NUM_UNIT_PRICE,
						 nj.NUM_ROUTE_STATE,
						ntc.NUM_TRAVEL_CITY_ID start_city_id,
						 ntc.VC_CITY_NAME start_city_name,
						ntc2.NUM_TRAVEL_CITY_ID end_city_id,
						 ntc2.VC_CITY_NAME end_city_name
					from nnt_journey nj
					LEFT JOIN nnt_travel_city ntc on nj.NUM_START_TRAVEL_CITY_ID =
													 ntc.NUM_TRAVEL_CITY_ID
					LEFT JOIN nnt_travel_city ntc2 on nj.NUM_END_TRAVEL_CITY_ID =
													  ntc2.NUM_TRAVEL_CITY_ID
				   where nj.NUM_ROUTE_ID = #{numRouteId}) t1
			LEFT JOIN (select nj1.NUM_ROUTE_ID,
							  count(nuj.NUM_ROUTE_ID) appointment_sum
						 from nnt_journey nj1
						 left JOIN nnt_user_journey nuj on nj1.NUM_ROUTE_ID =
														   nuj.NUM_ROUTE_ID
													   and nuj.NUM_STATE = 1
													   and nuj.NUM_PAY_STATE = 1
						GROUP BY nj1.NUM_ROUTE_ID) t2 on t1.NUM_ROUTE_ID =
														 t2.NUM_ROUTE_ID
			LEFT JOIN (select nj1.NUM_ROUTE_ID, count(nuj.NUM_ROUTE_ID) pay_sum
						 from nnt_journey nj1
						 left JOIN nnt_user_journey nuj on nj1.NUM_ROUTE_ID =
														   nuj.NUM_ROUTE_ID
													   and nuj.NUM_STATE = 1
													   and nuj.NUM_PAY_STATE = 2
						GROUP BY nj1.NUM_ROUTE_ID) t3 on t1.NUM_ROUTE_ID =
														 t3.NUM_ROUTE_ID
	</select>
</mapper>