<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dower.sharerideadmin.core.serverdb.extDao.MemberExtDao">
	<select id="queryRightPage" parameterType="java.util.Map" resultType="java.util.Map">
		select * from nna_users t
	</select>
</mapper>