<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="UTF-8">
    <title>编辑行程</title>
    <link rel="stylesheet" href="css/commor.css">
    <link rel="stylesheet" href="css/myCss.css">
</head>
<body>
<header class="headerRet">
    <b class="BackBtn"></b>编辑行程
</header>
<div class="goTripAll ediTrip">
    <p class="goTripCourse clear">
        <span class="goTripCouCome">襄垣</span>到<span class="goTripCouGo">太原</span>
    </p>
    <p class="">
        <span class="tripAllSingle">发车时间:</span><input type="text" placeholder="2018/8/7 9:00" class="tripAllPle">
    </p>
    <p class="">
        <span class="tripAllSingle">途径时长约:</span><input type="text" placeholder="2.5h" class="tripAllPle">
    </p>
    <p>
        <span class="tripAllSingle">最大乘客数:</span><input type="text" placeholder="6人" class="tripAllPle">
    </p>
    <p>
        <span class="tripAllSingle">费用 元/人:</span><input type="text" placeholder="60" class="tripAllPle">
    </p>
    <p >
        <input type="radio" id="carToP" name="car" class="radioCar"> <label for="carToP" class="carAndP">车找人</label>
        <input type="radio" id="pToCar" name="car" class="radioCar"><label for="pToCar" class="carAndP">人找车</label>
    </p>
    <p class="goTripEdition">
        <img src="img/android.png" alt="" class="downEdition">
        <img src="img/IOS.png" alt="" class="downEdition">
    </p>
    <p class="ediTripSOD">
        <button class="ediSure">确认</button><button class="editDet">删除</button>
    </p>
</div>

</body>
</html>