<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta charset="UTF-8">
    <title>坐车记录</title>
    <link rel="stylesheet" href="css/commor.css">
    <link rel="stylesheet" href="css/myCss.css">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/util.js"></script>
    <link rel="stylesheet" href="css/mobiscroll.custom-2.6.2.min.css">
    <script src="js/mobiscroll.custom-2.6.2.min.js"></script>
    <script src="js/person/myTripRecord.js"></script>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
</head>
<body>
<header class="headerRet">
    <b class="BackBtn"></b>坐车记录
</header>
<div class="myTrip">
    <ul class="myTripList clear">
        <li><a href="javascript:;">已预约</a></li>
        <li><a href="javascript:;">待评价</a></li>
        <li class="myTripListLast"><a href="javasciprt:;">所有行程</a></li>
    </ul>
    <ul class="myTripListTab" id="getMyTripRecord">
        <!--<li class="clear">
            <div class="myTripListTabLi myTripCarImg">
                <img src="img/car.jpg" alt="">
            </div>
            <div class="myTripListTabLi myTripCarMeg">
                <span>襄垣-太原</span><br>
                <span>张小贤</span><br>
                <span>2018/07/77</span>
            </div>
            <div class="myTripListTabLi myTripPeoPle">
                <span>总人数:6</span><br>
                <span>已付款:3</span><br>
                <span>已预约:2</span>
            </div>
            <div class="myTripListTabLi myTripMon">
                <span>60元/人</span>
                <br>
                <button class="myTripEdit">预支付</button>
            </div>
        </li>
        <li class="clear">
            <div class="myTripListTabLi myTripCarImg">
                <img src="img/car2.png" alt="">
            </div>
            <div class="myTripListTabLi myTripCarMeg">
                <span>襄垣-太原</span><br>
                <span>周杰伦</span><br>
                <span>2018/07/77</span>
            </div>
            <div class="myTripListTabLi myTripPeoPle">
                <span>总人数:6</span><br>
                <span>已付款:3</span><br>
                <span>已预约:2</span>
            </div>
            <div class="myTripListTabLi myTripMon">
                <span>60元/人</span>
                <br>
                <button class="paymentBtn">已支付</button>
            </div>
        </li>
        <li class="clear">
            <div class="myTripListTabLi myTripCarImg">
                <img src="img/car2.png" alt="">
            </div>
            <div class="myTripListTabLi myTripCarMeg">
                <span>襄垣-太原</span><br>
                <span>张朝阳</span><br>
                <span>2018/07/77</span>
            </div>
            <div class="myTripListTabLi myTripPeoPle">
                <span>总人数:6</span><br>
                <span>已付款:3</span><br>
                <span>已预约:2</span>
            </div>
            <div class="myTripListTabLi myTripMon">
                <span>60元/人</span>
                <br>
                <button class="evaluateBtn">评价</button>
            </div>
        </li>-->

    </ul>
</div>
<script th:inline="javascript">
    var openId = getQueryString("openId");
    if(!openId){
        openId = sessionStorage["openId"];
        if(!openId){
            openId = "o_1At0Te0Bq3R0VDOkGV6qrOay60";
        }
    }
    sessionStorage["openId"] = openId;

    $("#payButton").click(function () {
        $.ajax({
            type : "POST",
            url : getUrl("wxpay"),
            dataType : "json",
            data : {openid:openId},
            success : function(data) {
                //alert(JSON.stringify(data));
                pay(data);
            }
        });
    });



    function onBridgeReady(data){
        WeixinJSBridge.invoke(
            'getBrandWCPayRequest', {
                "appId":data.appId,     //公众号名称，由商户传入
                "timeStamp":data.timeStamp,         //时间戳，自1970年以来的秒数
                "nonceStr":data.nonceStr, //随机串
                "package":data.package,
                "signType":data.signType,         //微信签名方式：
                "paySign":data.paySign //微信签名
            },
            function(res){
                if(res.err_msg == "get_brand_wcpay_request:ok" ){
                    alert("谢谢！");
                }
            });
    }
    function pay(data){

        if (typeof WeixinJSBridge == "undefined"){
            if( document.addEventListener ){
                document.addEventListener('WeixinJSBridgeReady', onBridgeReady, false);
            }else if (document.attachEvent){
                document.attachEvent('WeixinJSBridgeReady', onBridgeReady);
                document.attachEvent('onWeixinJSBridgeReady', onBridgeReady);
            }
        }else{
            onBridgeReady(data);
        }

    }


</script>
</body>
</html>