<!DOCTYPE html>
<html lang="zh-cmn-Hans" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragment="common_header(title)">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,viewport-fit=cover"
    />
    <title th:replace="${title}"></title>
    <link rel="stylesheet" th:href="@{/app/css/style.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/li-alert.css}" />
    <link rel="stylesheet" th:href="@{/micromarketing/css/frozen.css}" media="all" >
</head>
