<table class="gallery table table_list table_striped table-bordered " id="tableList">
						<thead>
							<tr>
								<th width="50px"><label class="checkbox relative"><input type="checkbox" class="ace" name="checkbox"><span class="lbl"></span></label></th>
								<th>分类</th>
								<th width="70">图片</th>
								<th width="350">产品名称</th>
								<th width="100">原价/元</th>
								<th width="100">商城价/元</th>
								<th>产地</th>
								<th width="100">数量</th>
								<th>状态</th>
								<th>加入时间</th>
								<th>操作</th>
							</tr> 
						</thead>
						<tbody>

	</tbody>
</table>