<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dower.sharerideapp.core.repository.clothing.ClothingExtDao">

    <select id="selectPageByExample" parameterType="map" resultType="map">
		SELECT
			cp.NUM_ID numId,
			cp.VC_HIGHT vcHight,
			cp.VC_WIGHT vcWight,
			cp.VC_NAME vcName,
			cp.VC_PHONE vcPhone,
			cp.NUM_TYPE numType,
			cp.NUM_NUM numNum,
			cp.NUM_STATE numState,
			cp.DAT_CREAT_TIME datCreatTime,
			cp.DAT_UPDATE_TIME datUpdateTime,
			cp.NUM_PRICE numPrice,
			cp.VC_USER_ID vcUserId,
			cp.VC_OPEN_ID vcOpenId,
			cp.DAT_CONFIRM_TIME datConfirmTime,
			cp.VC_NOTES vcNotes,
			cp.NUM_SCHOOL_ID numSchoolId,
			cp.NUM_GRADE_ID numGradeId,
			cp.NUM_MODEL_ID numModelId,
			cp.VC_ORDER_NO vcOrderNo,
			cp.VC_UNION_ID vcUnionId,
			cp.VC_SIGN_DESC vcSignDesc,
			cp.NUM_PAR_TYPE numParType,
			cp.NUM_PAY_STATE numPayState,
			cp.VC_EXPIRE_TIME vcExpireTime,
			cfg.VC_GRADE_NAME vcGradeName,
			cfs.VC_SCHOOL_NAME vcSchoolName,
			cfm.VC_MODEL_NAME vcModelName
		FROM
			CL_PRODUCT cp
		LEFT JOIN CL_FN_GRADE cfg ON cp.NUM_GRADE_ID = cfg.NUM_ID
		LEFT JOIN CL_FN_SCHOOL cfs ON cp.NUM_SCHOOL_ID = cfs.NUM_ID
		LEFT JOIN CL_FN_MODEL cfm ON cp.NUM_MODEL_ID = cfm.NUM_ID
		WHERE
			(
				cp.NUM_IS_DEL = 1
			<if test="VC_USER_ID != null and VC_USER_ID !=''">
				AND cp.VC_USER_ID = #{VC_USER_ID}
			</if>
			<if test="VC_NAME != null and VC_NAME !=''">
				AND cp.VC_NAME LIKE CONCAT('%',#{VC_NAME},'%')
			</if>
			<if test="VC_PHONE != null and VC_PHONE != ''">
				AND cp.VC_PHONE LIKE CONCAT('%',#{VC_PHONE},'%')
			</if>
			<if test="NUM_TYPE != null and NUM_TYPE != ''">
				AND cp.NUM_TYPE = #{NUM_TYPE}
			</if>
			<if test="NUM_STATE != null and NUM_STATE != ''">
				AND cp.NUM_STATE = #{NUM_STATE}
			</if>
			<if test="NUM_PAY_STATE != null and NUM_PAY_STATE != ''">
				AND cp.NUM_PAY_STATE = #{NUM_PAY_STATE}
			</if>
			<if test="NUM_PAR_TYPE != null and NUM_PAR_TYPE != ''">
				AND cp.NUM_PAR_TYPE = #{NUM_PAR_TYPE}
			</if>
			<if test="NUM_ID != null and NUM_ID != ''">
				AND cp.NUM_ID =  #{NUM_ID}
			</if>
			<if test="NUM_SCHOOL_ID != null and NUM_SCHOOL_ID != ''">
				AND cp.NUM_SCHOOL_ID = #{NUM_SCHOOL_ID}
			</if>
			<if test="NUM_GRADE_ID != null and NUM_GRADE_ID != ''">
				AND cp.NUM_GRADE_ID = #{NUM_GRADE_ID}
			</if>
			<if test="NUM_MODEL_ID != null and NUM_MODEL_ID != ''">
				AND cp.NUM_MODEL_ID = #{NUM_MODEL_ID}
			</if>
			<if test="VC_ORDER_NO != null and VC_ORDER_NO != ''">
				AND cp.VC_ORDER_NO  LIKE CONCAT('%',#{VC_ORDER_NO},'%')
			</if>
			<if test="DAT_CREAT_TIME_START != null and DAT_CREAT_TIME_START != ''">
				and DATE_FORMAT(cp.DAT_CREAT_TIME,'%Y-%m-%d') <![CDATA[ >= ]]> DATE_FORMAT(#{DAT_CREAT_TIME_START},'%Y-%m-%d')
			</if>
			<if test="DAT_CREAT_TIME_END != null and DAT_CREAT_TIME_END != ''">
				and DATE_FORMAT(cp.DAT_CREAT_TIME,'%Y-%m-%d') <![CDATA[ <= ]]> DATE_FORMAT(#{DAT_CREAT_TIME_END},'%Y-%m-%d')
			</if>
			)
		ORDER BY
	cp.DAT_CREAT_TIME DESC
	</select>
    <select id="selectLastNumid" parameterType="map" resultType="long">
		select num_id from CL_PRODUCT order by NUM_ID desc limit 1 ;
	</select>
    <select id="selectUserCouponList" parameterType="map" resultType="map">
				select
			t1.*,
			t2.NUM_DISCOUNT_NUMBER

		 from nnt_user_coupons t1
		LEFT JOIN nnt_platform_coupon t2 on t1.NUM_PLATFORM_COUPON_ID = t2.NUM_ID
		where t1.NUM_STATE = 1 and t1.NUM_USER_ID = #{vcUserId}
	</select>
    <select id="selectOrderDetail" parameterType="map" resultType="map">
		select
			t1.NUM_ID numId,
			t1.VC_HIGHT vcHight,
			t1.VC_WIGHT vcWight,
			t1.VC_NAME vcName,
			t1.VC_PHONE vcPhone,
			t1.NUM_TYPE numType,
			t1.NUM_NUM numNum,
			t1.NUM_STATE numState,
			t1.DAT_CREAT_TIME datCreatTime,
			t1.DAT_UPDATE_TIME datUpdateTime,
			t1.NUM_PRICE numPrice,
			t1.VC_USER_ID vcUserId,
			t1.VC_OPEN_ID vcOpenId,
			t1.DAT_CONFIRM_TIME datConfirmTime,
			t1.VC_NOTES vcNotes,
			t1.NUM_SCHOOL_ID numSchoolId,
			t1.NUM_GRADE_ID numGradeId,
			t1.NUM_MODEL_ID numModelId,
			t1.VC_ORDER_NO vcOrderNo,
			t1.VC_UNION_ID vcUnionId,
			t1.VC_SIGN_DESC vcSignDesc,
			t1.NUM_PAR_TYPE numParType,
			t1.NUM_PAY_STATE numPayState,
			t1.NUM_PAY_TYPE numPayType,
			t3.VC_EXPIRE_TIME ,
			t5.NUM_DISCOUNT_NUMBER,
			t6.NUM_AMOUNT ,
			t7.VC_SCHOOL_NAME ,
			t8.VC_GRADE_NAME,
			t9.VC_MODEL_NAME
from
	(SELECT * from CL_PRODUCT where vc_order_no = #{vcOrderNo}) t1
	LEFT JOIN
	payment_order_record t2 on t1.vc_order_no = t2.VC_ORDER_NO
	left JOIN
	payment_flow t3 on t2.NUM_PAY_FLOW_ID = t3.num_id
	left JOIN
	nnt_user_coupons t4 on t2.NUM_USER_COUPON_ID = t4.NUM_ID
	left JOIN
	nnt_platform_coupon t5 on t4.NUM_PLATFORM_COUPON_ID = t5.NUM_ID
	LEFT JOIN
	nnt_user_balance_change_recode t6 on t2.NUM_USER_MONEY_LOG_ID = t6.NUM_ID
	LEFT JOIN
	CL_FN_SCHOOL t7 on t1.NUM_SCHOOL_ID = t7.NUM_ID
	LEFT JOIN
	CL_FN_GRADE t8 on t1.NUM_GRADE_ID = t8.NUM_ID
	LEFT JOIN
	CL_FN_MODEL t9 on t1.NUM_MODEL_ID =t9.NUM_ID
	</select>

</mapper>