<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dower.sharerideapp.core.repository.clothing.ClothingExtDao">
	<select id="selectPageByExample" parameterType="com.dower.sharerideapp.core.serverdb.model.ClProductExample" resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from CL_PRODUCT
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<sql id="Base_Column_List">
		NUM_ID, VC_HIGHT, VC_WIGHT, VC_NAME, VC_PHONE, NUM_TYPE, NUM_NUM, NUM_STATE, DAT_CREAT_TIME,
		DAT_UPDATE_TIME, NUM_PRICE, VC_USER_ID, VC_OPEN_ID, DAT_CONFIRM_TIME, VC_NOTES
	</sql>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<resultMap id="BaseResultMap" type="com.dower.sharerideapp.core.serverdb.model.ClProduct">
		<id column="NUM_ID" jdbcType="BIGINT" property="numId" />
		<result column="VC_HIGHT" jdbcType="VARCHAR" property="vcHight" />
		<result column="VC_WIGHT" jdbcType="VARCHAR" property="vcWight" />
		<result column="VC_NAME" jdbcType="VARCHAR" property="vcName" />
		<result column="VC_PHONE" jdbcType="VARCHAR" property="vcPhone" />
		<result column="NUM_TYPE" jdbcType="TINYINT" property="numType" />
		<result column="NUM_NUM" jdbcType="TINYINT" property="numNum" />
		<result column="NUM_STATE" jdbcType="TINYINT" property="numState" />
		<result column="DAT_CREAT_TIME" jdbcType="TIMESTAMP" property="datCreatTime" />
		<result column="DAT_UPDATE_TIME" jdbcType="TIMESTAMP" property="datUpdateTime" />
		<result column="NUM_PRICE" jdbcType="DECIMAL" property="numPrice" />
		<result column="VC_USER_ID" jdbcType="VARCHAR" property="vcUserId" />
		<result column="VC_OPEN_ID" jdbcType="VARCHAR" property="vcOpenId" />
		<result column="DAT_CONFIRM_TIME" jdbcType="TIMESTAMP" property="datConfirmTime" />
		<result column="VC_NOTES" jdbcType="VARCHAR" property="vcNotes" />
	</resultMap>
</mapper>